<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airisith.ksmusic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.airisith.ksmusic.HomeActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.airisith.ksmusic.MusicView"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service android:name="com.airisith.ksmusic.MusicService" >
        </service>

        <provider
            android:name="com.airisith.database.MusicContentProvider"
            android:authorities="com.airisith.provider.music"
            android:exported="true"
            android:multiprocess="true"
            android:readPermission="com.airisith.provider.music.READ_CONTACTS"
            android:writePermission="com.airisith.provider.music.WRITE_CONTACTS" />
    </application>
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 访问ContentProvider -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>  <!-- 电话监听 -->
   	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/> 
   	<uses-permission android:name="android.permission.BLUETOOTH"/> <!-- 访问蓝牙权限，并能连接配对过的设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> <!-- 管理蓝牙权限 -->

</manifest>